.create-button {
    width: initial;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border-radius: 4px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 90px;
    min-height: 42px;
    padding: 0px 16px 4px;
    position: relative;
    line-height: 0.875rem;
}

.create-button:hover {
    background: rgb(211, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.25) 0px -2px inset;
    transform: translateY(2px);
}

.nav-header {
    background-color: rgb(70, 23, 143);
}

.ul-tabs {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    height: 3.5rem;
    padding: 0px 0.5rem;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    margin: 0px 1rem 0px 50px;
    cursor: pointer;
    overflow: visible;
}

.li-tab {
    margin-right: 30px;
    color: white;
}

.click-test {
    background-color: blue;
}

.icons-svg {
    display: inline-block; 
    vertical-align: middle; 
    width: 35px; 
    height: 24px;
    margin-bottom: 4px;
}

.nav-link {
    color: white;
}

.dropdown-person {
    margin: 0px 30px 0px 10px;
}

.reports-body {
    min-width: 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 1280px;
    flex-wrap: nowrap;
}

.css-table {
    margin: 5px;
}

.td-options {
    display: flex;
}
.div-options {
    float: right;
}

div.crKahoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    overflow: hidden;/******/
}

div.crKahoot header.crHeader{
    background-color: indigo;
    height: 5.5rem;
    width: 100%;
    padding: 0 1.5%;
    z-index: -10000000;
}

div.crKahoot main.crMain{
    z-index:100;
    background-color: rgb(219, 219, 219);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div.sidebar {
     flex: 1 0 17%;
    background-color: white;
}
div.editor {
    flex: 1 0 83%;
}