.Container {
    font-size: 20em;
}
.Container header{
    display: flex;
    width: calc(100%);
    justify-content: center;
    padding: 20px 0;
    /*background-color: blueviolet;*/
}
.Container header input {
    width: calc(90%);
    height: 15rem;
    margin: 2.5rem 0 0 0;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 5px grey;
    text-align: center;
    font-size: 40px;
    padding: 0;
    outline: none;
}
main {
    width: calc(100%);
    /*background-color: chartreuse;*/
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
}
main .left-col {
    /*background-color: blue;*/
    padding-left: 15%;
    margin-right: 20px;
}
main div.left-col ul.subOption {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
main div.left-col ul.subOption select#timeLimit {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding-left: 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
main div.left-col ul.subOption #timeLimit div {
    border-radius: 50%;
}
main div.left-col ul.subOption #points {
    background-color: rgb(219,219,219);
}
main div.left-col ul.subOption li select#answerOption {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    border-radius: 10px;
    padding:1% 3%;
    outline: 0;
    box-shadow: 0 5px darkgray;
}
main div.left-col label {
    font-weight: normal;
}
main .right-col{
    /*align-self: center;*/
    /*justify-self: center;*/
}
main .right-col .preview {
    width: 25em;
    height: 15em;
    /*background-color: chocolate;*/
    border: darkgray dashed 5px;
}
main div.right-col div.preview img.previewImage {
    height: 100%;
    width: 100%;
}
footer {
    padding: 2% 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
}
footer div.answers {
    flex: 1 0 50%
}
footer div.answers input.answer {
    text-align: center;
    width:90%;
    height:10rem;
    margin: 5px;
    border:0;
    border-radius: 10px;
    box-shadow: 0 5px darkgray;
    outline: 0;
}
footer div.answers input.correct {
    /*border:0;*/
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
footer div.answers input.correct:checked {
    background-color: greenyellow;
}
input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #8A8A8A;
    border-radius: 50px;
    border: 0px solid #7A7A7A;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8A8A8A;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #8A8A8A;
    border-radius: 50px;
    border: 0px solid #7A7A7A;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #8A8A8A;
    border: 0px solid #7A7A7A;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #8A8A8A;
    border: 0px solid #7A7A7A;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #828282;
    border: 1px solid #8A8A8A;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #8A8A8A;
}
input[type=range]:focus::-ms-fill-upper {
    background: #8A8A8A;
}