div.questionBlock {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3% 5%;
    width: 80%;
    flex-basis: 100%;
    /*border: solid gray 1px;*/
}
div.questionBlock .blockHeader{
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    margin-bottom: -10px;
}
div.questionBlock div.blockBody {
    /*border: solid gray 1px;*/
    /*background-color: rgb(219, 219, 219);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: center;*/
}
div.questionBlock div.blockBody div.col-left {
    flex:0 0 10%;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5px;
    padding: 5px 0;
}
div.questionBlock div.blockBody div.col-right {
    flex:0 0 85%;
    display: flex;
    padding: 0 4%;
    background-color: #b3b3b3;
    /*border: solid 3px gray;*/
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    /*flex-grow: 1;*/
}
#target div.questionBlock div.blockBody div.col-right {
    flex:0 0 85%;
    display: flex;
    padding: 0 4%;
    background-color: #fdfdfd;
    /*border: solid 3px gray;*/
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    /*flex-grow: 1;*/
}

div.questionBlock div.blockBody div.col-right:hover {
    flex:0 0 85%;
    display: flex;
    padding: 0 4%;
    background-color: #b3b3b3;
    border: solid 3px gray;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    /*flex-grow: 1;*/
}
#target div.questionBlock div.blockBody div.col-right:hover {
    flex:0 0 85%;
    display: flex;
    padding: 0 4%;
    background-color: #fdfdfd;
    border: 0;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    /*flex-grow: 1;*/
}
div.questionBlock div.blockBody div.col-right p.title {
    font-size: 1.2rem;
    text-align: center;
    /*border: 2px solid rgb(255, 0, 0);*/
    /*height: 10%;*/
    margin-bottom: 0;
    width: 100%;
}

div.questionBlock div.blockBody div.col-right div.description {
    display: flex;
    /*width: 100px;*/
    /*align-items: center;*/
    /*background-color: blue;*/
    justify-content: flex-start;
    padding: 0 10%;
}
div.questionBlock div.blockBody div.col-right div.description p.timeLimit {
    flex: 0 0 15%;
    /*justify-self: flex-start;*/
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    width: 10px;
    height: 20px;
    /*padding: 1px 1px;*/
    margin-right: 5%;
    border: 2px solid gray;
}
div.questionBlock div.blockBody div.col-right div.description div.image {
    flex: 0 0 60%;
    justify-self: center;
    width: 40px;
    /*height: 40px;*/
    border: 2px dashed gray;
    /*background-color: black;*/
}
div.questionBlock div.blockBody div.col-right div.answers {
    display: flex;
    flex-wrap: wrap;
    /*background-color: chocolate;*/
    width: 100%;
}
div.questionBlock div.blockBody div.col-right div.answers div.choice {
    width: 48%;
    border-radius: 3px;
    border: solid #616161 1px;
    /*background-color: blanchedalmond;*/
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 12px;
    margin: 1% 1%;
}
div.questionBlock div.blockBody div.col-right div.answers div.choice #answer {
    /*flex: 1 1 90%;*/
}
div.questionBlock div.blockBody div.col-right div.answers div.choice #correct {
    /*flex: 1 1 5%;*/
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: chartreuse;
}