div.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

div.left {
  /* background-color: rgb(255, 0, 0); */
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.left img {
  height: 3rem;
  padding-right: 5%;
}
div.left div.settings {
  border-radius: 5px;
  height: 4rem;
  font-size: 1.5rem;
  flex-basis: 45%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
div.left div.settings div.title {
  /* background-color: thistle; */
  font-size: large;
  font-weight: bold;
}

div.left div.settings div.sbutton {
  justify-self: flex-end;
  font-weight: bolder;
  color: white;
  background-color: rgb(77, 79, 231);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
div.right {
  flex-basis: 50%;
  /* background-color: cyan; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
div.right div.preview {
  font-size: 1rem;
  color: white;
  background-color: rgb(52, 54, 165);
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
}
div.right button.submit {
  cursor: pointer;
  width: 9rem;
  height: 4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
}
div.right button.exit {
  border: 1px solid white;
  background-color: indigo;
  color: aliceblue;
}
div.right button.exit:hover {
  border: 1px solid white;
  background-color: rgb(92, 1, 156);
}
div.right button.done {
  border: 0px;
  background-color: rgb(37, 161, 12);
  border-bottom: 4px solid rgb(10, 90, 3);
}
div.right button.done:hover {
  margin-top: 4px;
  border: 0px;
  background-color: rgb(10, 90, 3);
}
